/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*reset*/

  html, body, section, article,
  h1, h2, h3, h6, p, strong,
  em, a, select, ul, li, input,
  a textarea, button, img, label {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: inherit;
    font: inherit;
    text-decoration: inherit;
    text-align: inherit;
    color: inherit;
    background: transparent;
    list-style: none;
  }

  .page {
    height: 100vh;
  }

  html {
    background-color: #EAEAEA;
    min-width: 900px;
  }

  button:hover {
    cursor: pointer;
  }

  input[type="submit"]:hover {
    cursor: pointer;
  }

 .link {
   outline: none;
   text-decoration: none;
   padding: 2px 1px 0;
 }

 .link:link {
   color: #265301;
 }

 .link:visited {
   color: #437A16;
 }

 .link:focus {
   border-bottom: 1px solid;
   background: #BAE498;
 }

 .link:hover {
   border-bottom: 1px solid;
   background: #CDFEAA;
 }

 .link:active {
   background: #265301;
   color: #CDFEAA;
 }
