.cart-container {
  height: -webkit-calc(100% - 124px);
  overflow: scroll;
}

.cart-image {
  width: 50%;
  height: 100%;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: asset-url("cart.jpg");
  background-image: -webkit-linear-gradient(
    right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0) 90%
  ),
  asset-url("cart.jpg");
}

.cart-text {
  width: 50%;
  height: 100%;
  display: inline-block;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: white;
  color: black;
  text-align: center;
  float: right;
}

.cart-title {
  font-size: 24px;
  color: green;
  padding-top: 5%;
  padding-bottom: 2%;
}

.cart-index-item {
  text-align: left;
  list-style: none;
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: inline-block;
  width: -webkit-calc(100% - 20px - 2px);
}

.cart-index-item-remove-button {
  color: red;
}
