.change-password-form-container {
  height: -webkit-calc(100% - 124px);
  overflow: scroll;
}

.change-password-form-image {
  background-image: asset-url("change-password-form.jpg");
  width: 50%;
  height: 100%;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0) 90%
  ),
  asset-url("change-password-form.jpg");
}

.change-password-form {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline-block;
  float: left;
  width: 50%;
  height: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

.change-password-form-title {
  font-size: 34px;
  padding: 5%;
  color: green;
}

.change-password-form-input {
  width: 50%;
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 30px;
  margin-bottom: 15px;
}

.change-password-form-submit {
  border: 1px solid green;
  color: green;
  width: 50%;
  border-radius: 5px;
  height: 30px;
}
