.kitchen-form-container {
  height: -webkit-calc(100% - 124px);
  overflow: scroll;
}

.kitchen-form-image {
  width: 50%;
  height: 100%;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: asset-url("kitchen-sign-up-form.jpg");
  background-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0) 90%
  ),
  asset-url("kitchen-sign-up-form.jpg");
}

.kitchen-form-text {
  width: 50%;
  height: 100%;
  display: inline-block;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: white;
  color: black;
  text-align: center;
  float: left;
}

.kitchen-form-title {
  font-size: 24px;
  color: green;
}

.kitchen-form-body {
  font-size: 14px;
  padding: 2%;
  margin: 0 auto;
}

.kitchen-form-input {
  width: 50%;
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 30px;
  margin-bottom: 15px;
}

.kitchen-form-img {
  justify-content: center;
  text-align: center;
  width: 50%;
}

.kitchen-form-img-show {
  height: 100px;
  width: 50%;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid lightgray;
}

.kitchen-form-submit {
  border: 1px solid green;
  color: green;
  width: 50%;
  border-radius: 5px;
  height: 30px;
}
