// modal
.modal {
  position: absolute;
  z-index: 15;
  width: 452px;
  height: 404px;
  left: 50%;
  top: 50%;
  margin: -202px 0 0 -226px;
  display: table;
}

/*login/logout form*/

.login-form-container {
  background-color: white;
  border: solid green 1px;
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}

.login-form-box {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-top: 20px;
}

.login-input {
  height: 64px;
  width: 363px;
  margin: 5px;
  border-radius: 5px;
  border: solid lightgrey 1px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  padding-left: 10px;
}

.login-form-submit {
  height: 64px;
  width: 375px;
  margin: 5px;
  background-color: green;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: lighter;
}

.login-form-navLink {
  border: 1px solid green;
  color: green;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  float: right;
  margin: 6px;
}

.login-form-text {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  float: left;
  display: inline-block;
  line-height: 34px;
  font-size: 16px;
  color: #484848;
  width: 250px;
  margin: 6px;
}

// errors
.login-form-errors {
  list-style: none;
  text-align: center;
  background-color: green;
  color: white;
  margin-top: 20px;
}
