.reviews-container {
  height: auto;
  justify-content: center;
  text-align: center;
}

.kitchen-review-header {
  font-size: 32px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 15px;
}

.review-form-body {
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  width: 300px;
  height: 100px;
}

.review-form-submit {
  border: 1px solid green;
  color: green;
  width: 25%;
  border-radius: 5px;
  height: 30px;
  position: relative;
  text-align: center;
  background-color: white;
  margin-bottom: 30px;
  font-weight: bold;
}

.review-form-label {
  margin-bottom: 100px;
  text-decoration: underline;
}

.review-index-item {
  margin: 15px auto;
  padding: 0;
  list-style: none;
}

.review-index-item-rating {
  margin: 5px;
  color: green;
}

.review-index-item-body {
  font-size: 14px;
  word-break: wrap;
  white-space: normal;
}

.review-index-item-username {}


.review-index-item {
  color: white;
}

.review-form-rating {
  border: 1px solid black;
  margin-top: 10px;
}
